body {
  padding: 40px;
}
ul {
  overflow: hidden;
  list-style: none;
  li {
    float: left;
    margin-left: 10px;
  }
}

.sunday {
  div {
    display: none;
  }
  .sunday {
    display: block;
  }
}
.monday {
  div {
    display: none;
  }
  .monday {
    display: block;
  }
}
.tuesday {
  div {
    display: none;
  }
  .tuesday {
    display: block;
  }
}
.wednesday {
  div {
    display: none;
  }
  .wednesday {
    display: block;
  }
}
.thursday {
  div {
    display: none;
  }
  .thursday {
    display: block;
  }
}
.friday {
  div {
    display: none;
  }
  .friday {
    display: block;
  }
}
.saturday {
  div {
    display: none;
  }
  .saturday {
    display: block;
  }
}
